.subjects {
  .subject-item {
    .title {
      padding: 15px 0;
    }

    .full-name {
      width: 60%;
    }

    .avg-notes {
      width: 20%;
    }

    .birthdate {
      width: 20%;
    }
  }
}
